body {
    background-color: black;
    background-size: 100%;
}

#najwiekszy-blok {
    background-color: khaki;
    width: 420px;
    height: 420px;
    position: relative;
    margin: 25% auto;
}

.blok-red-mniejszy {
    background-color: red;
    margin: 0;
}

.blok-yellow-mniejszy {
    background-color: yellow;
    margin: 140px auto;
}

.blok-purple-mniejszy {
    background-color: purple;
    margin: 280px auto;
}

.blok-blue-mniejszy {
    background-color: blue;
    margin: 0 140px;
}

.blok-black-mniejszy {
    background-color: black;
    margin: 140px 140px;
}

.blok-gray-mniejszy {
    background-color: gray;
    margin: 280px 140px;
}

.blok-green-mniejszy {
    background-color: green;
    margin: 0px 280px;
}

.blok-orange-mniejszy {
    background-color: orange;
    margin: 140px 280px;
}

.blok-pink-mniejszy {
    background-color: pink;
    margin: 280px 280px;
}

div#najwiekszy-blok > div {
    width: 140px;
    height: 140px;
    position: absolute;
}

div#najwiekszy-blok > div {
    border: 3px solid white;
}

.kolojeden {
    background-color: pink;

}

.kolodwa {
    background-color: gray;
}

.kolotrzy {
    background-color: purple;
}

.kolocztery {
    background-color: green;
}

.kolopiec {
    background-color: red;
}


.koloszesc {
    background-color: blue;

}

.kolosiedem {
    background-color: orange;

}

.koloosiem {
    background-color: yellow;

}

.kolodziewiec {
    background-color: black;

}

div > p {
    border: 2px solid black;
}

p {
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 70px;
    margin: 0 auto;
    left: 30px;
    top: 30px;
}